<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LLP - Ejercicios</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <script src="https://kit.fontawesome.com/495fca6823.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="menu-navegacion contenedor">
            <div class="logo">
                <img src="/assets/img/logo2.png" alt="Logotipo LLP">
            </div>
            <button class="menu-burg" aria-label="Toggle navigation">
                <span class="hamburger-icon"></span>
            </button>
            <div class="enlaces">
                <li><a class="boton" href="/index.html">Inicio</a></li>
                <li><a class="boton" href="/assets/views/Clase1.html">Clases</a></li>
                <li><a class="boton ejercicio" href="/assets/views/Ejercicios.html">Ejercicios</a></li>
                <li><a class="boton" href="/assets/views/Contacto.html">Contacto</a></li>
            </div>
        </nav>
        <section class="intro">
            <div class="contenedor-textos contenedor">
                <h1 class="introV1">Ejercicios de Programación</h1> 
                <p>En esta sección, encontrarás ejercicios básicos para practicar los temas cubiertos en nuestras clases.</p>
                <img class="imgCl" src="/assets/img/OsoOperadores.png" alt="">
            </div>
            <img class="imgIndex" src="/assets/img/FoxImage.png" alt="Algoritmo">
        </section>
    </header>

    <div class="container-fluid">
        <div class="row">
            <main class="col-md-10 main-content">
                <div class="section-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-link active">
                           <p class="pHeaderV">Ejercicios</p>
                        </li>
                    </ul>
                </div>
                
                <div>
                    <h2>Ejercicios Básicos</h2>
                    <p>A continuación, encontrarás una lista de ejercicios básicos para cada uno de los temas cubiertos en nuestras clases.</p>

                    <h3>Variables</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Declarar una variable y asignarle un valor.</li>
                        <li class="list-group-item">Intercambiar los valores de dos variables.</li>
                        <li class="list-group-item">Convertir una variable de tipo entero a tipo decimal.</li>
                        <li class="list-group-item">Suma de dos variables y mostrar el resultado.</li>
                        <li class="list-group-item">Restar dos variables y mostrar el resultado.</li>
                        <li class="list-group-item">Multiplicar dos variables y mostrar el resultado.</li>
                        <li class="list-group-item">Dividir dos variables y mostrar el resultado.</li>
                        <li class="list-group-item">Mostrar el tipo de una variable.</li>
                    </ul>

                    <h3>Tipos de Datos</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Declarar una variable de tipo entero y asignarle un valor.</li>
                        <li class="list-group-item">Declarar una variable de tipo decimal y asignarle un valor.</li>
                        <li class="list-group-item">Declarar una variable de tipo cadena y asignarle un valor.</li>
                        <li class="list-group-item">Convertir una variable de tipo entero a tipo cadena.</li>
                        <li class="list-group-item">Convertir una variable de tipo cadena a tipo entero.</li>
                        <li class="list-group-item">Mostrar el valor de una variable de tipo booleano.</li>
                        <li class="list-group-item">Realizar una operación aritmética con variables de diferentes tipos.</li>
                        <li class="list-group-item">Concatenar dos variables de tipo cadena.</li>
                    </ul>

                    <h3>Operadores Lógicos y Aritméticos</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Utilizar el operador AND en una expresión lógica.</li>
                        <li class="list-group-item">Utilizar el operador OR en una expresión lógica.</li>
                        <li class="list-group-item">Utilizar el operador NOT en una expresión lógica.</li>
                        <li class="list-group-item">Realizar una suma de dos números.</li>
                        <li class="list-group-item">Realizar una resta de dos números.</li>
                        <li class="list-group-item">Realizar una multiplicación de dos números.</li>
                        <li class="list-group-item">Realizar una división de dos números.</li>
                        <li class="list-group-item">Utilizar el operador módulo para obtener el residuo de una división.</li>
                    </ul>

                    <h3>Estructuras de Control</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Determinar si una persona es mayor de edad o no.</li>
                        <li class="list-group-item">Por medio de entrada introducir una hora, si la hora es arriba de las 17 mostrar que ya es noche, si es arriba de las 12 que es de tarde, y si es antes de las 12 que es de mañana.</li>
                        <li class="list-group-item">Determinar si un estudiante tiene derecho o no a beca, tomando en cuenta que el porcentaje de becas es arriba del 90%</li>
                        <li class="list-group-item">Implementar un bucle WHILE para repetir una acción mientras el numero sea menor a 20.</li>
                        <li class="list-group-item">Implementar un bucle DO que se ejecute hasta que el usuario ingrese un numero par</li>
                        <li class="list-group-item">Implementar un bucle FOR para tener una lista del numero al 100 imprimiendo solo los numeros pares</li>
                    </ul>

                    <h3>Matrices</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Declarar una matriz y asignarle valores.</li>
                        <li class="list-group-item">Acceder a un elemento específico de una matriz.</li>
                        <li class="list-group-item">Modificar un elemento específico de una matriz.</li>
                        <li class="list-group-item">Recorrer una matriz utilizando un bucle FOR.</li>
                        <li class="list-group-item">Calcular la suma de todos los elementos de una matriz.</li>
                        <li class="list-group-item">Encontrar el valor máximo en una matriz.</li>
                        <li class="list-group-item">Encontrar el valor mínimo en una matriz.</li>
                        <li class="list-group-item">Ordenar los elementos de una matriz en orden ascendente.</li>
                    </ul>

                </div>
            </main>
        </div>
    </div>

    <footer class="footer">
        <div class="contenedor">
            <p>&copy; 2024 LLP. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/assets/js/javascript.js"></script>
</body>
</html>
