<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LLP - Variables Reals</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <script src="https://kit.fontawesome.com/495fca6823.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="menu-navegacion contenedor">
            <div class="logo">
                <img src="/assets/img/logo2.png" alt="Logotipo LLP">
            </div>
            <button class="menu-burg" aria-label="Toggle navigation">
                <span class="hamburger-icon"></span>
            </button>
            <div class="enlaces">
                <li><a class="boton" href="/index.html">Inicio</a></li>
                <li><a class="boton clase" href="/assets/views/Clase1.html">Clases</a></li>
                <li><a class="boton" href="/assets/views/Ejercicios.html">Ejercicios</a></li>
                <li><a class="boton" href="/assets/views/Contacto.html">Contacto</a></li>
            </div>
        </nav>
        <section class="intro">
            <div class="contenedor-textos contenedor">
                <h1 class="introV1">Variables Reales</h1> 
                <p>Te enseñaré las variables por parte y tipo para que comprendas mejor.</p> 
                <img class="imgCl" src="/assets/img/OsoVariable.png" alt="">
            </div>
            <img class="imgIndex" src="/assets/img/VariablesHeader.png" alt="Algoritmo">
        </section>
    </header>

    <div class="container-fluid">
        <div class="row">
            <button class="btn btn-primary d-md-none mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
                <i class="fas fa-bars"></i> Menú
            </button>

            <aside id="sidebar" class="col-md-2 sidebar collapse d-md-block">
                <h5>Lista de clases</h5>
                <nav class="nav flex-column nav-pills">
                    <a class="nav-link" href="#">Fundamentos Lógicos</a>
                    <ul>
                        <li><a class="list-aside" href="Clase1.html">Introducción a Flowgorithm</a></li>
                        <li><a class="list-aside" href="Algoritmos.html">Algoritmos</a></li>
                        <li><a class="list-aside" href="Variables.html">Variables</a></li>
                        <li><a class="list-aside" href="VariablesEnteras.html">Variables Enteras</a></li>
                        <li><a class="list-aside" href="VariablesReales.html">Variables Reales</a></li>
                        <li><a class="list-aside" href="VariablesString.html">Variables String</a></li>
                        <li><a class="list-aside" href="EjercicioAlgoritmo.html">Mejorando Nuestro ejercicio Algoritmos</a></li>
                        <li><a class="list-aside" href="OperadoresLogicos.html">Operadores Lógicos</a></li>
                    </ul>
                    <a class="nav-link" href="#">Estructuras de control</a>
                    <ul>
                        <li><a class="list-aside active" href="CondicionalSi.html">Condicional "Si"</a></li>
                    </ul>
                    <a class="nav-link" href="#">Bucles</a>
                    <ul>
                        <li><a class="list-aside bucle" href="BucleWhile.html">Bucle While</a></li>
                        <li><a class="list-aside bucle" href="BucleDo.html">Bucle Do</a></li>
                        <li><a class="list-aside bucle" href="BucleFor.html">Bucle For</a></li>
                    </ul>
                    <a class="nav-link" href="#">Matrices</a>
                    <ul>
                        <li><a class="list-aside matriz" href="Matrices.html">Introducción a Matrices</a></li>
                        <li><a class="list-aside matriz" href="EjercicioMatrices.html">Ejercicio Matrices</a></li>
                    </ul>
                    <a class="nav-link" href="#">Algoritmos y soluciones de problemas</a>
                </nav>
            </aside>

            <main class="col-md-10 main-content">
                <div class="section-header">
                    <ul class="nav nav-tabs">
                        <li class="nav-link active">
                           <p class="pHeaderV">Variables Tipo Reales</p>
                        </li>
                        <li class="nav-link active">
                            <p class="pHeaderV">Operaciones con Variables Reales</p>
                        </li>
                    </ul>
                </div>
                
                <div>
                    <h2>Concepto de Variables Reales</h2>
                    <p>Las variables reales, también conocidas como variables de punto flotante, se utilizan para almacenar números que tienen decimales. A diferencia de las variables enteras que solo pueden contener números sin decimales, las variables reales pueden contener tanto números enteros como fracciones.</p>
                    <h3>Ejemplo de Variable Real:</h3>
                    <ul>
                        <li>temperatura = 36.5</li>
                        <li>precioProducto = 19.99</li>
                    </ul>
                    <p><strong>Nota:</strong> A diferencia de las variables enteras, las variables reales deben contener un punto decimal. Si intentas escribir una variable real sin el punto decimal, se considerará como una variable entera.</p>
                    <img class="img-fluid" src="/assets/img/ejemploVReal1.png" alt="Ejemplo de variable Real">
                    <p>En estas variables también puedes almacenar operaciones aritméticas que resulten en valores con decimales. Por ejemplo, si quieres almacenar el resultado de una división que no da un número entero, puedes usar una variable real:</p>
                    <pre><code>resultado = 5 / 2</code></pre>
                    <img class="img-fluid" src="/assets/img/ejemploVReal2.png" alt="Ejemplo Variable Real">

                    <h3>En Flowgorithm, para hacer esto, seguirías estos pasos:</h3>
                    <ul>
                        <li>Declara una variable llamada num1 (Esto es de tu preferencia, solo es un identificador) y una llamada num2.</li>
                        <li>Asignales el valor a cada una.</li>
                        <li>Luego en una variable llamada resultado almacena el resultado y asignale el valor dividiendo cada uno de los números.</li>
                    </ul>
                    <h3>Operaciones con Variables Reales</h3>
                    <p>En Flowgorithm, puedes realizar varias operaciones aritméticas con variables reales, como suma, resta, multiplicación y división. A continuación, te muestro algunos ejemplos:</p>
                    <h4>Ejemplos:</h4>
                    <pre><code>
  suma = 10.5 + 2.3
  resta = 5.8 - 1.2
  multiplicacion = 3.4 * 2.0
  division = 7.2 / 2.4
                    </code></pre>
                    <h5>Puedes practicarlo como tarea :3 </h5>
                
                    <p>Como puedes ver, las operaciones con variables reales son similares a las operaciones con variables enteras, pero el resultado puede incluir decimales.</p>
                    <p>Recuerda siempre declarar el tipo correcto de variable dependiendo del tipo de dato que vas a almacenar y las operaciones que vas a realizar.</p>
                    
                </div>

                <div class="container text-center my-4">
                    <div class="row">
                        <div class="col">
                            <a href="/assets/views/VariablesEnteras.html" class="btn btn-outline-secondary">
                                <i class="fas fa-arrow-left"></i> Clase Anterior
                            </a>
                        </div>
                        <div class="col">
                            <a href="/assets/views/VariablesString.html" class="btn btn-outline-secondary">
                                Siguiente Clase <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <div class="mb-3">
                <img src="/assets/img/logo2.png" alt="Logotipo LLP" class="img-fluidF" style="height: 80px;">
            </div>
            <div>
                <p class="mb-0">&copy; 2024 LLP - Aprende la Lógica de la Programación con Flowgorithm. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/assets/js/javascript.js"></script>
</body>
</html>
